/* Icon for WP 3.7 and older */
div#icon-dreamobjects.icon32 {
    background-image: url(images/dreamobj-color32.png);
}

/* Columns */
#dho-primary {
    padding-bottom: 20px;
    overflow: hidden;
}

div#dho-leftcol {
    width: 45%;
    float: left;
}

#dho-rightcol {
    float: left;
    max-width: 45%;
    padding: 0 0 0 30px;
}
